<nav class="navbar topnavbar">
    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="brand-logo">
                <img src="assets/img/logo.png" alt="Logo">
            </span>
        </a>
    </div>

    <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
            <a routerLink="dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a routerLink="courseList" class="nav-link">Cources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Contact Us</a>
        </li>
    </ul>
</nav>